.red{
    background: red;
    color:white;
}
.black{
    background: black;
    color:white;
}

.yellow{
    background: yellow;
    color:black;
}
.parent{
    width: 200px;
    height:  200px;
    border:1px solid black;
}