<h1>Product list</h1>

<table class="table">
    <thead>
        <tr>
            <td>Search:</td>
            <td><input [(ngModel)]="term" class="form-control"></td>
        </tr>
        <tr>
            <td>{{'Produit.title'|translate}}</td>
            <td>Type</td>
            <td>{{'Produit.price'|translate}}</td>
            <td>{{'Produit.entry_date'|translate}}</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produit of reponseApi | search:term">
            <td>{{produit.title}}</td>
            <td>{{produit.product_type}}</td>
            <td>{{produit.price}}</td>
            <td>{{produit.entry_date}}</td>
            <td>
                <button class="btn btn-info" (click)="edit(produit)">Edit</button>
                <button class="btn btn-danger" (click)='remove(produit)'>Remove</button>
            </td>
        </tr>
    </tbody>
</table>